/* global styles */
@import 'reset.css';
@import "typography.css";

/*.layout and view styling */
@import '../server/layouts/base.css';
@import '../server/views/index.css'; 
@import '../server/views/root.css';
@import '../server/views/detail.css';
@import '../server/views/swipe.css';
@import '../server/views/liked.css';
@import '../server/views/header.css';


/* component styling */
@import '../server/components/card/card.css';

body {
  color: rgb(0, 0, 0);
  max-width: 1440px;
  margin: 0 auto;
}

main {
  padding: 1rem;
}
